<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5R0HxxIWwlNLXX9CQpLrSlbZEvH7A1sU</string>
	<key>GCM_SENDER_ID</key>
	<string>650533910297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bariBodol</string>
	<key>PROJECT_ID</key>
	<string>bari-bodol-cbb21</string>
	<key>STORAGE_BUCKET</key>
	<string>bari-bodol-cbb21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650533910297:ios:338dea7bfedd207b50f788</string>
</dict>
</plist>